{% extends 'base/base.html' %} {% block title %}
user profile
{% endblock title %}
{% block main %}
<div id="content">
    <div class="container text-left" dir="ltr">
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                               {% block page_title %}
                               {% endblock page_title %}
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-body">
                              <ul>
                                <li>
                                    <a href="">Orders</a>
                                </li>
                                <li>
                                    <a href="">My List</a>
                                </li>
                                <li>
                                    <a href="{% url 'accounts:user_comments' %}">Comments</a>
                                </li>
                                <li>
                                    <a href="">Address</a>
                                </li>
                                <li>
                                    <a href="{% url 'accounts:logout_view' %}">Logout</a>
                                </li>
                              </ul>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
                <div class="col-12 col-md-8">
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    {% block content %}
                                    {% endblock content %}
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
        </div>
    </div>
{% endblock main %}